body {
	background-image: url('./img/terrain.png');
	background-attachment:fixed;
}
#main, .footer {
	opacity: 0;
}

div.body {
	width: 100%;
	margin: auto;
	min-height: 600px;
	min-width: 850px;
	max-width: 1200px;
}

div.footer {
	height: 100px;
	width: 100%;
	clear:both;
	text-align: center;
}
div.footer a {
	margin:0 15px;
}

div.header {
	height: 120px;
	width: 100%;
}


.left {
	float:left;
}
.right {
	float:right;
}

div.content div.right {
	width: 69%;
	min-height: 476px;
}

div.content div.left {
	width: 30%;
	min-height: 476px;
}

div.box {
	width: 99%;
	border: 1px solid green;
	padding: 1%;
	border-radius: 15px;
	margin:10px 0;
	background-color: #F3F4EC;
}

.title {
	font-size: 20px;
	color:#725630;
	font-weight:bold;
	margin: 20px 1% 10px;
	border-bottom: 1px solid green;
}
div.box p.title {
	text-align: left;
	margin: 10px 1% 20px;
}
div.right div.box p.title {
	font-size: 27px;
}
div.box div.showMore {
	text-align: right;
	padding-right: 5%;
}

table {
	text-align:center;
	margin: auto;
	width: 100%;
}
table td {
	border-bottom: 1px dotted black;
	padding:1% 0;
}
table tr.champions {
	color: green;
}
table tr.europa {
	color: orange;
}
table tr.relegation {
	color: red;
}
table td.separator {
	height: 50px;
	border-bottom: none;
}
ul {
	padding:0;
	width:100%;
}
ul li {
	list-style:none;
}

#results span.date {
	width: 20%;
	display: inline-block;
}
#results span.team1 {
	display: inline-block;
	width: 23%;
	text-align: right;
}
#results span.team2{
	display: inline-block;
	width: 23%;
}
#results.small span.team2, #results.small span.team1 {
	width: 30%;
}
#results.small span.date {
	width:25%;
}
#results span.score{
	text-align:center;
	display: inline-block;
	width: 10%;
	text-decoration: underline;
	cursor: pointer;
}
#results.small span.scoreNoLink{
	text-align:center;
	display: inline-block;
	width: 10%;
}
#results span.score:hover {
	background:green;
	color: white;
}

#results ul li {
	margin-bottom: 5px;
}

.won {
	font-weight:bold;
}

.matchEvents .home {
	display:block;
	text-align: right;
	margin-right:52%;
	padding: 3px 0;
}
.matchEvents .away {
	display:block;
	margin-left:50%;
	padding: 3px 0;
}
.hidden {
	display:none;
}
div.matchEvents {
	border-radius: 43px;
	border: 1px solid green;
	border-top:none;
}

a {
	color: #725630;
	text-decoration: none;
	font-weight:bold;
	cursor: pointer;
}
a:hover {
	color: green;
}
.half {
	width: 49%;
	display: inline-block;
	text-align:center;
}

ul.tripleColumn {
	font-size: 18px;
}

ul.tripleColumn .first {
	width: 39%;
	display: inline-block;
	text-align: right;
}
li.higherFirst .first, li.higherSecond .third {
	color:green;
	
}
li.higherFirst .third, li.higherSecond .first {
	color:red;
}
li.same .third, li.same .first {
	color:orange;
}
.first .left {
	color:black;
}

ul.tripleColumn .second {
	width: 22%;
	display: inline-block;
	text-align:center;
	vertical-align:top;
}

ul.tripleColumn .third {
	width: 39%;
	display: inline-block;
}